{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}
{% block content %}
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <div class="selections">
    <span class="select_elem">
      <p>Chief Complaint: </p>
      <select class="selectpicker">
        <option>Diarrhea (all)</option>
        <option>Stock Outs </option>
        <option>Fatalitites </option>
        <option>Cholera </option>
      </select>
      <script>
        $(".selectpicker").selectpicker();
      </script>
    </span>
    <span class="select_elem">
      <p>Location: </p>
      <input type="text" class="form-control" placeholder="Location"></input>
    </span>
  </div>
  <div class="box box-left col-md-6">
    <div class="card">
      <nav>
        <ul class="pagination pagination-custom">
          <li><a href="#">1W</a></li>
          <li><a href="#">2M</a></li>
          <li><a href="#">3M</a></li>
          <li><a href="#">6M</a></li>
          <li><a href="#">1Y</a></li>
          <li><a href="#">3Y</a></li>
        </ul>
      </nav>
      <h3> Case Numbers </h3>
      <div id="case_num_v">
      </div>
      <h3> Severity Index </h3>
      <div>
        <p class="chart_head"> Kendua <p>
        <div id="main_sev_v" class="severity">
        </div>
      </div>
      <div>
        <p class="chart_head"> National <p>
        <div id="avg_sev_v" class="severity">
      </div>
      </div>
    </div>
  </div>
  <div class="box box-right col-md-6">
    <div class="card">
      <div id="slider_labels"></div>
      <p>Range: <span id="amount"></span></p>
      <div id="slider_range"></div>
      <div id="home_map_v"></div>
    </div>
  </div>
  
  <script src="static/js/avg_severity.js"></script>
  <script src="static/js/case_number.js"></script>
  <script src="static/js/main_severity.js"></script>
  <script src="static/js/home_map.js"></script>
  <script src="static/js/home_map_slider.js"></script>

{% endblock %}
