
/**
 * @file
 * Main stylesheet file.
 */


/*****************************************************************************
 * Main elements
 ****************************************************************************/
html {
  overflow-y: scroll;
}
a {
  cursor: pointer;
}
::selection {
  background: #555;
  color: #FFF;
}
::-moz-selection {
  background: #555;
  color: #FFF;
}
::-webkit-selection {
  background: #555;
  color: #FFF;
}
/* Main elements end */
#navbar-custom {
	background: #3a8aa9;
}

#navbar-custom a {
	background:#3a8aa9;
	color: white;
}

.pagination.pagination-custom {
  margin: 0px;
  margin-top: 10px;
}

.card {
  padding: 10px;
  background :#FFF;
}

body {
	background: #e9e9e9;
}

/*****************************************************************************
 * Radio button at top
 ****************************************************************************/
.pagination.pagination-custom li a {
  width: 83px;
  text-align: center;
  color: black;
  border-width:0px;
  border-bottom-width: 1px;
  border-color: black;
}
.pagination.pagination-custom li a:focus {
  border-bottom-width: 3px;
  background:white;
}



/*****************************************************************************
 * Case Number Visualization
 ****************************************************************************/

#case_num_v {
  font: 10px sans-serif;
}

#case_num_v .axis path,
#case_num_v .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#case_num_v .x.axis path {
  display: none;
}

#case_num_v .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/* Case Number Visualization End */

/*****************************************************************************
 * Severity Visualization
 ****************************************************************************/
.severity svg {
  font: 14px 'Sans-serif';
}

.severity .axis path,
.severity .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.severity .axis text {
  fill: #000;
}

.severity .area.positive {
  fill: rgba(230, 230, 255, 0.8);
  stroke: rgba(216, 216, 255, 0.8);
}

.severity .area.negative,
.severity .legend .inner {
  fill: rgba(127, 127, 255, 0.8);
  stroke: rgba(96, 96, 255, 0.8);
}

.severity .axis .tick line {
  stroke: rgba(0, 0, 0, 0.1);
}

.severity .area {
  stroke-width: 1;
}

.severity .area {
  fill: url("#area-gradient")
}

/*Severity Visualization End */
